ansimarkup==1.4.0
better-exceptions-fork==0.2.1.post6
colorama==0.4.1
cycler==0.10.0
kiwisolver==1.1.0
loguru==0.2.5
matplotlib==3.0.3
numpy==1.16.3
pygments==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
scipy==1.2.1
six==1.12.0
