alabaster==0.7.12
ansimarkup==1.4.0
atomicwrites==1.3.0
attrs==19.1.0
babel==2.6.0
backcall==0.1.0
better-exceptions-fork==0.2.1.post6
bleach==3.1.0
bumpversion==0.5.3
certifi==2019.3.9
chardet==3.0.4
codecov==2.0.15
colorama==0.4.1
coverage==4.5.3
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
filelock==3.0.10
flake8==3.5.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.5.0
jedi==0.13.3
jinja2==2.10.1
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.1.0
loguru==0.2.5
markupsafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.0.0
mypy-extensions==0.4.1
mypy==0.701
nbconvert==5.5.0
nbformat==4.4.0
nbsphinx==0.4.2
nbstripout==0.3.5
numpy==1.16.3
packaging==19.0
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.7.1
pockets==0.7.2
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.3.1
pyflakes==1.6.0
pygments==2.3.1
pyparsing==2.4.0
pyrsistent==0.15.1
pytest-cov==2.6.1
pytest==3.6.4
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
readme-renderer==24.0
requests-toolbelt==0.9.1
requests==2.21.0
scipy==1.2.1
six==1.12.0
snowballstemmer==1.2.1
sphinx-autodoc-typehints==1.6.0
sphinx==1.7.6
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
testpath==0.4.2
toml==0.10.0
tornado==6.0.2
tox==3.9.0
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
typed-ast==1.3.5
urllib3==1.24.2
virtualenv==16.5.0
wcwidth==0.1.7
webencodings==0.5.1
