alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.1.0
babel==2.6.0
bleach==3.1.0
bumpversion==0.5.3
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
coveralls==1.7.0
cycler==0.10.0
docopt==0.6.2
docutils==0.14
filelock==3.0.10
flake8==3.5.0
idna==2.8
imagesize==1.1.0
jinja2==2.10.1
kiwisolver==1.1.0
markupsafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==7.0.0
numpy==1.16.3
packaging==19.0
pkginfo==1.5.0.1
pluggy==0.7.1
pockets==0.7.2
py==1.8.0
pycodestyle==2.3.1
pyflakes==1.6.0
pygments==2.3.1
pyparsing==2.4.0
pytest-cov==2.6.1
pytest==3.6.4
python-dateutil==2.8.0
python-dotenv==0.9.1
pytz==2019.1
readme-renderer==24.0
requests-toolbelt==0.9.1
requests==2.21.0
scipy==1.2.1
six==1.12.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.4.3
sphinx==1.7.6
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.9.0
tqdm==4.31.1
twine==1.13.0
urllib3==1.24.2
virtualenv==16.5.0
webencodings==0.5.1
