-r requirements.in
# Testing
bumpversion
pytest-cov
codecov
pytest==3.6.4
flake8==3.5.0
mypy
tox
# Documentation
Sphinx==1.7.6
sphinxcontrib-napoleon
sphinx-autodoc-typehints
# Jupyter notebook examples
nbsphinx
ipython
ipykernel
nbstripout
# Deployment
twine
